{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    App Productos
{% endblock title %}
{% block content %}
    <!-- Responsive navbar-->
    {% include 'core/components/navbar_producto.html' %}
    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Bienvenido a nuestra tienda</div>
            <h1 class="masthead-heading text-uppercase">Catálogo de Productos</h1>
        </div>
    </header>
    <div class="container my-5">
        <h3 class="pb-3 border-bottom" style="font-size: 30px;">Categorías</h3>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4">
            <a class="btn btn-primary btn-lg me-md-2" href="{% url 'clase:productocategoria_create' %}" role="button">Crear Categoría</a>
            <a class="btn btn-outline-primary btn-lg" href="{% url 'clase:productocategoria_list' %}" role="button">Listar Categorías</a>
        </div>

        <h3 class="pb-3 border-bottom" style="font-size: 30px;">Productos</h3>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4">
            <a class="btn btn-success btn-lg me-md-2" href="{% url 'clase:producto_create' %}" role="button">Agregar Producto</a>
            <a class="btn btn-outline-success btn-lg" href="{% url 'clase:producto_list' %}" role="button">Listar Productos</a>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4">
            <a class="btn btn-secondary btn-lg" href="{% url 'core:home' %}" role="button">Volver a Inicio</a>
        </div>
    </div>
{% endblock content %}
