{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Productos: Detalle de un Producto
{% endblock title %}

{% block content %}
    <!-- Responsive navbar-->
    {% include 'core/components/navbar_producto.html' %}
    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Django - CoderHouse</div>
            <div class="masthead-heading text-uppercase">MI WEB INTERMEDIA</div>
        </div>
    </header>
    <div class="container my-5">
    <ul>
        <li style="font-size: 30px;">Nombre: {{ object.nombre }}</li>
    </ul>

    <div class="fs-3 pb-4">
        <a href="{% url 'clase:producto_list' %}" class="btn btn-secondary btn-sm text-uppercase float-left">Volver al inicio de Producto</a>
    </div>
    </div>

{% endblock content %}
