{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Productos: Borrar un Producto
{% endblock title %}

{% block content %}
        <!-- Responsive navbar-->
        {% include 'core/components/navbar_producto.html' %}
        <!-- Header-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Django - CoderHouse</div>
                <div class="masthead-heading text-uppercase">MI WEB INTERMEDIA</div>
            </div>
        </header>
    <p class="fs-5 fst-italic">¿Confirma eliminar "{{ object.nombre }}"?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar</button>
    </form>
    <div class="fs-3 pb-4">
        <a href="{% url 'clase:home' %}">Volver al inicio de Producto</a>
    </div>

{% endblock content %}