{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    Producto: 
    {% if form.instance.pk %}
        Editar
    {% else %}
        Crear
    {% endif %}
    Productos
{% endblock title %}

{% block content %}
        <!-- Responsive navbar-->
        {% include 'core/components/navbar_producto.html' %}
        <!-- Header-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Django - CoderHouse</div>
                <div class="masthead-heading text-uppercase">MI WEB INTERMEDIA</div>
            </div>
        </header>
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    <div class="fs-3 pb-4">
        <a href="{% url 'clase:home' %}">Volver al inicio de Producto</a>
    </div>

{% endblock content %}