{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Productos: Borrar un Producto
{% endblock title %}

{% block content %}
    <!-- Responsive navbar-->
    {% include 'core/components/navbar_producto.html' %}
    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Django - CoderHouse</div>
            <div class="masthead-heading text-uppercase">MI WEB INTERMEDIA</div>
        </div>
    </header>
    <div class="container my-5">
    <p class="fs-5 fst-italic">¿Confirma eliminar "{{ object.nombre }}"?</p>

    <form method="post" class="mt-4">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-sm text-uppercase float-left">Confirmar</button>
    </form>
    <div class="fs-3 pb-4">
        <a href="{% url 'clase:home' %}" class="btn btn-secondary btn-sm text-uppercase float-left mr-2">Volver al inicio de Producto</a>
    </div>
    </div>
{% endblock content %}
