{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    Productos: Cambiar una Categoría de Productos
{% endblock title %}

{% block content %}
    <!-- Responsive navbar-->
    {% include 'core/components/navbar_producto.html' %}
    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Django - CoderHouse</div>
            <div class="masthead-heading text-uppercase">MI WEB INTERMEDIA</div>
        </div>
    </header>
    <div class="container my-5">
    <form method="post">
        {% csrf_token %}
        <table style="font-size: 30px;"> <!-- Se ajusta el tamaño de la fuente -->
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-primary btn-sm text-uppercase">Guardar</button> <!-- Se hace el botón más pequeño y el texto en mayúsculas -->
    </form>
    <div class="fs-3 pb-4">
        <a href="{% url 'clase:productocategoria_list' %}" class="btn btn-secondary btn-sm text-uppercase">Volver</a> <!-- Se hace el botón más pequeño y el texto en mayúsculas -->
    </div>
    </div>
{% endblock content %}

