{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    Productos: Detalle de un Producto
{% endblock title %}

{% block content %}
    <!-- Responsive navbar-->
    {% include 'core/components/navbar_producto.html' %}
    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Django - CoderHouse</div>
            <div class="masthead-heading text-uppercase">MI WEB INTERMEDIA</div>
        </div>
    </header>
    <ul>
        <li>Nombre: {{ object.nombre }}</li>
    </ul>

    <div class="fs-3 pb-4">
        <a href="{% url 'clase:producto_list' %}">Volver</a>
    </div>

{% endblock content %}