    <footer class="footer py-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2024</div>
                <div class="col-lg-8 text-lg-end">
                    <a class="link-dark text-decoration-none me-3" href="#!">Politicas de privacidad</a>
                    <a class="link-dark text-decoration-none" href="#!">Terminos</a>
                </div>
            </div>
        </div>
    </footer>