{% extends 'core/base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block content %}
    {% include 'core/components/navbar.html' %}
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Un poco de mi y de esta aplicacion WEB</div>
            <div class="masthead-heading text-uppercase">About Me</div> 
        </div>
    </header>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-center">Acerca de mí</h2>
                    <p class="lead">Programador Trainee Python.</p>
                    <p>Soy Diego Drutman, desarrollador backend python incursionando en la creación de experiencias digitales con un enfoque especial en tecnologías como Django. Tengo algo de experiencia en desarrollo frontend, utilizando HTML, CSS, y JavaScript.</p>
                    <p>Me encanta trabajar en proyectos desafiantes y aprender nuevas tecnologías para mejorar mis habilidades. Siempre estoy buscando oportunidades para colaborar en proyectos interesantes y llevar adelante ideas de desarrollo.</p>
                    <p class="lead">Pagina CoderHouse Django.</p>
                    <p>La página está diseñada para facilitar la generación de pedidos de manera eficiente y organizada, ofreciendo dos tipos de acceso adaptados a diferentes roles dentro de la empresa:</p> 
                    <li>El personal: cargaran el nombre del cliente que esta por hacer la compra y generaran su pedido. Pueden consultar y editar su perfil.</li>
                    <li>El staff: ademas de las tareas del personal podran añadir a los vendedores nuevos (locales o personas) y las sucursales con sus localidades. Ademas pueden consultar y editar su perfil.</li>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}