{% extends 'core/base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block content %}
    {% include 'core/components/navbar.html' %}
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Un poco de mi y de esta aplicacion WEB</div>
            <div class="masthead-heading text-uppercase">About Me</div> 
        </div>
    </header>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-center">Acerca de mí</h2>
                    <p class="lead">Programador Trainee Python.</p>
                    <p>Soy Diego Drutman, desarrollador backend python incursionando en la creación de experiencias digitales con un enfoque especial en tecnologías como Django. Tengo algo de experiencia en desarrollo frontend, utilizando HTML, CSS, y JavaScript.</p>
                    <p>Me encanta trabajar en proyectos desafiantes y aprender nuevas tecnologías para mejorar mis habilidades. Siempre estoy buscando oportunidades para colaborar en proyectos interesantes y llevar adelante ideas de desarrollo.</p>
                    <p class="lead">Pagina CoderHouse Django.</p>
                    <p>Esta aplicación web está diseñada para gestionar pedidos utilizando dos tipos de acceso. Permite la personalización de perfiles, así como la adición de clientes, vendedores y sucursales por localidad. Finalmente, se puede generar un pedido. </p> 
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}