{% extends 'core/base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block content %}
    <!-- Responsive navbar-->
    {% include 'core/components/navbar.html' %}
    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Generalo y guardalo directamente en nuestra base de datos</div>
            <div class="masthead-heading text-uppercase">¿Nuevo Cliente?</div>
        </div>
    </header>
    {% if user.is_authenticated %}
    <section class="page-section bg-light" id="cliente">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Ingresa sus datos</h2>
                <h3 class="section-subheading text-muted">Los necesitaremos para realizar el pedido.</h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <form id="add-cliente-form" action="{% url 'clase:agregar_cliente' %}" method="POST" class="text-center">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control {% if mensaje %} is-invalid {% endif %}" id="nombre" name="nombre" type="text" placeholder="Nombre completo *" required="required" />
                            {% if mensaje %}
                                <div class="invalid-feedback">
                                    {{ mensaje }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <input class="form-control mt-3" id="direccion" name="direccion" type="text" placeholder="Dirección *" required="required" />
                        </div>
                        <div class="form-group">
                            <input class="form-control mt-3" id="email" name="email" type="email" placeholder="Correo Electrónico *" required="required" />
                        </div>
                        <div class="form-group">
                            <input class="form-control mt-3" id="edad" name="edad" type="number" placeholder="Edad *" required="required" />
                        </div>
                        <button class="btn btn-primary btn-xl text-uppercase mt-3" type="submit">Enviar</button>
                        <p class="mt-3">¿Ya está registrado el cliente? <a href="{% url 'clase:agregar_pedido' %}">Haz clic aquí</a></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock content %}
