{% extends 'core/base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        {{ mensaje }}
    {% endif %}
    <!-- Responsive navbar-->
    {% include 'core/components/navbar.html' %}
    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Generalo y guardalo directamente en nuestra base de datos</div>
            <div class="masthead-heading text-uppercase">Staff</div>
             
        </div>
    </header>
    
    <!-- Vendedores-->
    <section class="page-section" id="vendedor">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Formulario - Agregar vendedor</h2>
                <h3 class="section-subheading text-muted">Agrega un vendedor nuevo a la lista.</h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <form id="add-vendedor-form" action="{% url 'clase:agregar_vendedor' %}" method="POST" class="text-center">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" id="vendedor" name="vendedor" type="text" placeholder="Nombre *" required="required" />
                        </div>
                        <div class="form-group">
                            <input class="form-control mt-3" id="edad" name="edad" type="number" placeholder="Edad *" required="required"/>
                        </div>
                        <button class="btn btn-primary btn-xl text-uppercase mt-3" type="submit">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Productos-->
    <section class="page-section" id="producto">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Formulario - Agregar Producto</h2>
                <h3 class="section-subheading text-muted">Agrega un producto nuevo a la lista.</h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <form id="add-producto-form" action="{% url 'clase:home' %}" method="POST" class="text-center">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary btn-xl text-uppercase" type="submit">Agregar producto</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}