{% extends 'core/base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        {{ mensaje }}
    {% endif %}
    {% include 'core/components/navbar.html' %}
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Generalo y guardalo directamente en nuestra base de datos</div>
            <div class="masthead-heading text-uppercase">Mis Datos</div>
        </div>
    </header>
    {% if perfil_usuario %}
    <section class="page-section bg-light" id="cliente">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Datos de tu usuario</h2>
                <h3 class="section-subheading text-muted">Están asociados a tu ingreso y tu perfil.</h3>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-4">
                    <div class="text-center">
                        {% if perfil_usuario.avatar %}
                        <img src="{{ perfil_usuario.avatar.url }}" alt="Avatar" class="img-fluid rounded-circle mb-2" style="height: 200px;">
                    {% else %}
                        <img src="{% static 'default.jpg' %}" alt="Avatar Predeterminado" class="img-fluid rounded-circle mb-2" style="height: 200px;">
                    {% endif %}                    
                    </div>
                </div>
                <div class="col-lg-4">
                    <ul>
                        <li>
                            <span class="font-weight-bold" style="font-size: 18px;">Nombre:</span>
                            <span class="font-size-large" style="font-size: 22px;">{{ perfil_usuario.nombre }}</span>
                        </li>
                        <li>
                            <span class="font-weight-bold" style="font-size: 18px;">Dirección:</span>
                            <span class="font-size-large" style="font-size: 22px;">{{ perfil_usuario.direccion }}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="text-center mt-5 mt-lg-20">
                        <a href="{% url 'clase:mis_datos_editar' %}" class="btn btn-primary btn-xl text-uppercase" type="submit">Editar</a>
                    </div>
                </div>                                        
            </div>
        </div>
    </section>
    {% else %}
    <section class="page-section bg-light" id="cliente">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Aun no has configurado tu perfil.</h2>
                <h3 class="section-subheading text-muted">Recomendamos hacerlo lo antes posible para una mas facil identificacion.</h3>
                <a href="{% url 'clase:mis_datos_editar' %}" class="btn btn-primary btn-xl text-uppercase mt-3">Agregar datos</a>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock content %}
