{% extends 'core/base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        {{ mensaje }}
    {% endif %}
    <!-- Responsive navbar-->
    {% include 'core/components/navbar.html' %}
    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Django - CoderHouse</div>
            <div class="masthead-heading text-uppercase">Tienda Nube</div>
            <a class="btn btn-primary btn-xl text-uppercase" href="#producto">¡Saber mas!</a>
        </div>
    </header>
    <section class="page-section bg-light" id="cliente-info">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Información del Cliente</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    {% if cliente %}
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <p>{{ cliente.nombre }}</p>
                        </div>
                        <div class="form-group">
                            <label for="direccion">Dirección:</label>
                            <p>{{ cliente.direccion }}</p>
                        </div>
                        <div class="form-group">
                            <label for="email">Correo Electrónico:</label>
                            <p>{{ cliente.email }}</p>
                        </div>
                        <div class="form-group">
                            <label for="edad">Edad:</label>
                            <p>{{ cliente.edad }}</p>
                        </div>
                    {% else %}
                        <p>No se encontraron datos de cliente.</p>
                        <a href="{% url 'core:home' %}" class="btn btn-primary">Agregar Cliente</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>       
{% endblock content %}