{% extends 'core/base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        {{ mensaje }}
    {% endif %}
    <!-- Responsive navbar-->
    {% include 'core/components/navbar.html' %}
    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Generalo y guardalo directamente en nuestra base de datos</div>
            <div class="masthead-heading text-uppercase">Datos</div>
             
        </div>
    </header>
    <section class="page-section bg-light" id="cliente">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Ingresa tus datos personales</h2>
                <h3 class="section-subheading text-muted">Los necesitaremos para realizar el pedido.</h3>
            </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <button type="submit" class="btn btn-primary btn-xl text-uppercase mt-3">Guardar Cambios</button>
                </form>                
            </div>
        </div>
    </div>
{% if perfil_usuario.avatar %}
    <img src="{{ perfil_usuario.avatar.url }}" alt="Avatar de usuario">
{% else %}
    <img src="{% get_media_prefix %}ok.jpg" alt="Avatar Predeterminado">
{% endif %}


{% endblock content %}
